services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: irrnet_db
      POSTGRES_USER: irrnet_admin
      POSTGRES_PASSWORD: OP51H[q\|wn4e@WH/5end6T4~£1u-`2v
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  dev_db:
    image: postgres:15
    container_name: dev_db
    environment:
      POSTGRES_DB: irrnet_dev
      POSTGRES_USER: irrnet_admin
      POSTGRES_PASSWORD: OP51H[q\|wn4e@WH/5end6T4~£1u-`2v
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    container_name: django_app
    environment:
      DJANGO_ENV: production
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8001:8000"
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
  postgres_data_dev:
  static_volume:
