{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/helpdesk.css' %}">
<link rel="stylesheet" href="{% static 'css/widget.css' %}">
{% endblock %}
{% block title %}Helpdesk Dashboard{% endblock %}

{% block content %}
<section class="dashboard-section">
    <h2>Helpdesk Dashboard</h2>

    <div class="dashboard-block">
        <a href="{% url 'ticket_create' %}" class="btn">Create New Ticket</a>
    </div>

    {% if is_support or is_admin %}
        {% include "helpdesk/dashboard_support.html" %}
    {% elif is_employee %}
        {% include "helpdesk/dashboard_employee.html" %}
    {% endif %}
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/helpdesk.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}
