{% load static %}
{% load url_utils %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IrrNET{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header class="navbar">
    <div class="logo-container">
        <a href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.png' %}" alt="IrrNET Logo" class="logo">
        </a>
    </div>
    <div class="login-buttons">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'core:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn">Log Out</button>
        </form>
        {% else %}
        <a href="{% url 'core:login' %}" class="btn button">Log In</a>
        {% endif %}
        <a href="https://em01.irrsupply.net/SOGo/" target="_blank" class="login-button">
            <div class="envelope-wrapper">
                <svg class="envelope-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="40"
                     height="45">
                    <g class="flap">
                        <path fill="white"
                              d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128z"/>
                    </g>
                    <path fill="white"
                          d="M64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/>
                </svg>
            </div>
            <span class="email-label">Email</span>
        </a>
    </div>
</header>
{% is_current_url "/login/" as is_login %}
{% if not is_login %}
<div class="layout">
    <div class="sidebar-toggle-wrapper">
        <button id="toggleSidebar" class="sidebar-toggle">
            <svg id="toggleIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                 fill="white">
                <path d="M8 5l8 7-8 7V5z"/>
            </svg>
        </button>
    </div>
    {% is_current_url "/" as is_home %}
    <aside class="sidebar {% if not is_home %}collapsed{% endif %}">
        <nav>
            <ul>
                {% block sidebar_links %}
                {% endblock %}
            </ul>
        </nav>
    </aside>
    {% endif %}
    {% if SHOW_ENV_BANNER %}
    <div class="env-banner">
        <div class="triangle"></div>
        <div class="env-banner-text">DEV</div>
    </div>
    {% endif %}

    <main class="content">
        {% load breadcrumb_tags %}
        {% get_breadcrumbs as breadcrumbs %}
        {% if breadcrumbs %}
        {% include 'components/breadcrumbs.html' %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</div>
<a href="http://irrsupply.com" target="_blank" class="popout-button">
    To Our Website! ↪
</a>
{% block extra_js %}
{% endblock %}
<script src="{% static 'js/sidebar-toggle.js' %}"></script>
</body>
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4><a href="http://189.189.1.237/mediawiki/index.php/Central_Office_Phone_Extensions" target="_blank">North
                Tonawanda Office</a></h4>
            <p>908 Niagara Falls Boulevard</p>
            <p>North Tonawanda, NY 14120</p>
            <p>Phone: (716) 692-1600</p>
            <p>Fax Bldg 1: (716) 692-1611</p>
            <p>Fax Bldg 2: (716) 692-0232</p>
        </div>
        <div class="footer-section">
            <img src="{% static 'images/logo.png' %}" alt="Footer Image 1" class="footer-image">
            <img src="{% static 'images/visionary-showroom-white.svg' %}" alt="Footer Image 2" class="footer-image">
        </div>
        <div class="footer-section">
            <h4><a href="http://irrwiki/mediawiki/index.php/VoIP_Phone_Extensions#41_Binghamton" target="_blank">Binghamton
                Office</a></h4>
            <p>59 Chenango Bridge Road</p>
            <p>Binghamton, NY 13901</p>
            <p>Phone: (607) 772-8800</p>
            <p>Fax: (607) 772-1339</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Irr Supply Centers, Inc. All rights reserved.</p>
    </div>
</footer>

</html>