{% extends 'base.html' %}
{% block title %}Viewing: {{ document.title }}{% endblock %}

{% block content %}
<h1>{{ document.title }}</h1>

{% if document.extension == "pdf" %}
  <embed src="{{ document.pdf_file.url }}" type="application/pdf" width="100%" height="600px">
{% elif document.extension in office_extensions %}
  <iframe src="https://view.officeapps.live.com/op/embed.aspx?src={{ request.build_absolute_uri(document.file.url) }}"
          width="100%" height="600px" frameborder="0"></iframe>
{% else %}
  <p>Unsupported file type: {{ document.extension }}</p>
{% endif %}

{% endblock %}
