{% extends 'base.html' %}
{% load static %}
{% load filename_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/docs_widget.css' %}">
{% endblock %}

{% block content %}
<div class="documents-container">
    <h2>{{ document.title }}</h2>
    <p>{{ document.description }}</p>
    <p>Uploaded: {{ document.uploaded_at|date:"M d, Y" }}</p>

    {% if document.pdf_file %}
    <embed src="{{ document.pdf_file.url }}" type="application/pdf" width="100%" height="600px">
    {% else %}
    <p>This file can’t be previewed.</p>
    {% endif %}

    <a href="{{ document.file.url }}" download="{{ document.file.name|basename }}">Download Original File</a>
</div>
{% endblock %}